<a href="https://colab.research.google.com/github/fran1215/ML7-P1/blob/main/Copy_of_Machine_learning_for_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Machine Learning For AI

In [8]:
import pandas as pd

In [9]:
group4 = pd.DataFrame(
    {'Name': ['hyojin','kyunghoon', 'Fran', 'Stefan'],
     'Hobby': ['listening music','going home', 'making music', 'sailing'],
     'Nationality':['Korea','Korea', 'Spain', 'Norway'],
     'Major':['Statistics','Math', 'Software', 'Computer Science'],
     'Age': [24,25,20,23]})

In [10]:
group4

        Name            Hobby Nationality             Major  Age
0     hyojin  listening music       Korea        Statistics   24
1  kyunghoon       going home       Korea              Math   25
2       Fran     making music       Spain          Software   20
3     Stefan          sailing      Norway  Computer Science   23

In [11]:
group4.index=group4.Name

In [12]:
group4

                Name            Hobby Nationality             Major  Age
Name
hyojin        hyojin  listening music       Korea        Statistics   24
kyunghoon  kyunghoon       going home       Korea              Math   25
Fran            Fran     making music       Spain          Software   20
Stefan        Stefan          sailing      Norway  Computer Science   23

In [13]:
group4.to_csv('group4.csv', index=False)

In [14]:
group4_replica = pd.read_csv('group4.csv')

In [15]:
group4_replica

        Name            Hobby Nationality             Major  Age
0     hyojin  listening music       Korea        Statistics   24
1  kyunghoon       going home       Korea              Math   25
2       Fran     making music       Spain          Software   20
3     Stefan          sailing      Norway  Computer Science   23

In [ ]:
group4['Age'].mean()

23.0

In [ ]:
group4['Age'].max()

25

In [ ]:
group4['Age'].var()

4.666666666666667

In [ ]:
group4['Age'].sum()

92